
.resume{
    margin-bottom: 140px;
}











@media screen and (max-width: 1300px){
    .logo {
        width: 800px
    }
}

@media screen and (max-width:786px) {
    .logo {
        width: 650px
    }
    
}

@media screen and (max-width: 425px) {
    .logo{
        width: 400px
    }
    
}